:80 {
	log {
		format console
	}

	root * /srv/src

	# Send all PHP requests to PHP-FPM container
	php_fastcgi cgi:9000 {
		root /srv/src
		# Fallback to routes.php if file doesn't exist
		try_files {path} /routes.php
	}

	# Serve static files
	file_server


	handle_errors {
		respond "{err.status_code} {err.status_text}"
	}
}
